@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #e0e0e0;
}

body {
  margin: 0;
  overflow: hidden;
  font-feature-settings: "tnum";
}

@layer utilities {
  .glow-text {
    text-shadow: 0 0 10px rgba(224, 224, 224, 0.5), 0 0 20px rgba(224, 224, 224, 0.3);
  }

  .text-celestium-null.glow-text {
    text-shadow: 0 0 10px rgba(255, 51, 51, 0.5), 0 0 20px rgba(255, 51, 51, 0.3);
  }

  .text-celestium-accent {
    color: #00ff9d;
  }
}